<mat-toolbar color="primary">
  <button mat-button routerLink="/">
    Accueil
  </button>
  <div *ngIf="user">
      <button mat-button routerLink="map">
        Carte des restaurants
      </button>
    </div>
  <span class="example-fill-remaining-space"></span>
  <div *ngIf="!user">
    <button mat-button (click)="logIn()">
      Se Connecter
    </button>
  </div>
  <div *ngIf="user">
    {{user}}
    <button mat-button routerLink="settings">
      Paramètres du compte
    </button>
    <button mat-button (click)="logOff()">
      Deconnexion
    </button>
  </div>

</mat-toolbar>