<div class="main cgu">
  <h1>Conditions Générales d’Utilisation</h1>
  <div class="cgu-§">
    <h2>Mentions légales</h2>

    <p>
      <strong>IMIE Angers</strong>
    </p>
    <p>Centre Pierre Cointreau CCI</p>
    <p> 132 Avenue de Lattre de Tassigny</p>
    <p>49000 Angers</p>
    <p>Tél. 02 41 66 67 66</p>
    <p></p>

    <p>
      <strong>Responsable application / Mégalomane / Dieu auto-proclamé:</strong> M. Kévin Mèche. <a href="https://github.com/knudian/" target="_blank">@Knudian</a>
    </p>
    <p>
      <strong>Responsable design / Responsable orchestre, lumière et bande-son :</strong> M. Robin Tusseau. <a href="https://github.com/aaol/" target="_blank">@Aaol</a>
    </p>
    <p>
      <strong>Responsable café / Organisation du ménage / Livraison de pizza / Mise en ambiance:</strong> M. Jeff Thiebault. <a href="https://github.com/fubuke/" target="_blank">@Fubuke</a>
    </p>
  </div>
  <div class="cgu-§">
    <h2>1. Objet et fonctionnement du service </h2>
    <h3>"Comment c'est censé marcher"</h3>

    <p>Il faut opiniâtrement accepter que la puissante divergence locale véhicule les prémices d'une postérité allant vers essentiellement plus d’équité.</p>
    <p>Je dois vous informer que l'acuité des problèmes de la vie quotidienne a pour effet voulu la pressante exigence qui donne un nouvel élan à la France et qui rends possible, avec votre concours, les changements dont notre pays a besoin.</p>
    <p>Vous appréhendez sans nul doute que le reflet de l'idéologie du moment réitère l'élan nouveau d'une autorité permettant la meilleure cohérence possible.</p>
    <p>Je suis naturellement certain que la sécurité des personnes doit permettre la libre expression d'un programme plus humain, plus fraternel et plus juste. </p>
    <p>Je serai toujours le premier à assurer que l'effort indispensable de défense fait ressortir le réel attrait d'un déploiement visionnaire revivifiant. </p>
    <p>Présentement, la mission qui nous a été confiée doit réunir les atouts d'une force sereine et progressiste qui remettra notre pays sur le chemin de la réussite.</p>
    <p>Sinon, en gros, faut cliquer pour s'enregistrer, se connecter et voir la liste des restaurants.</p>
    <p>Des fois, ça marche sans planter.</p>

  </div>
  <div class="cgu-§">
    <h2>2. Données personnelles </h2>
    <h3>"Quoi c'est qu'on sait sur vous ?"</h3>

    <p>Aucune donnée personnelle n'est collectée sur ce site.</p>
    <p>Les utilisateurs qui s'enregistrent consentent néanmoins à utiliser une adresse e-mail valide.</p>
    <p>On ira aussi chercher leur historique de navigation.</p>
    <p>Et puis on peut aussi hacker leurs périphériques de stockage et leur webcam.</p>
    <p>D'ailleurs, si vous êtes connectés à un réseau social en même temps que ce site, on le saura.</p>
    <p>Et on a récupéré vos identifiants.</p>
    <p>Concrètement, on va vous pourrir votre Facebook.</p>
    <p>...</p>
    <p>Non, j'déconne, c'est assez safe.</p>
    <p>Les seules données utilisées sont celles des restaurants.</p>
    <p>Et on les partage pas.</p>
    <p>C'est à nous.</p>
    <p>Pas touche.</p>

  </div>
  <div class="cgu-§">
    <h2>3. Cookies</h2>
    <h3>"Nom nom nom"</h3>
    <p>Le site utilise des cookies.</p>
    <p>...</p>
    <p>Non attendez, je veux dire, "on va en utiliser".</p>
    <p>C'est pas à jour.</p>
    <p>Bougez pas.</p>
    <p>Non, on en utilise pas pour le moment.</p>
    <p>Mais ça viendra.</p>
    <p>Probablement.</p>

    <div>
      <strong>Pour Chrome :</strong>
      <ol>
        <li>Choisir le menu "Outils" (ou "Tools"), puis "Options "</li>
        <li>Cliquer sur l'onglet "Options avancées"</li>
        <li>Dans « Paramètres de contenu », cocher le bouton « Interdire à tous les sites de stocker les données ».</li>
      </ol>
    </div>

    <div>
      <strong>Pour Firefox 3.5 et + :</strong>
      <ol>
        <li>Choisir le menu "Outils" (ou "Tools"), puis "Options "</li>
        <li>Cliquer sur l'onglet "Vie privée"</li>
        <li>Dans « Règles de conservation », sélectionner « Utiliser les paramètres personnalisés pour l’historique »
          et décocher le bouton "Accepter les cookies".</li>
      </ol>
    </div>

    <div>
      <strong>Pour Microsoft Internet Explorer 6.0 et + :</strong>
      <ol>
        <li>Choisir Panneau de configuration, puis "Programmes et fonctionnalités"</li>
        <li>Chercher "Internet Explorer" et cliquez dessus</li>
        <li>Cliquez sur "Désinstaller"</li>
        <li>Prenez un café</li>
      </ol>
    </div>

    <div>
      <strong>Pour Netscape 6.X et 7.X, Opéra, et autres trucs chelous</strong>
      <ol>
        <li>Installez un autre navigateur.</li>
      </ol>
    </div>

    <p>A défaut, l’utilisateur accepte les cookies en poursuivant sa navigation.</p>

  </div>
  <div class="cgu-§">
    <h2>4. Publication et modération des avis. </h2>
    <h3>"Qu'est-ce-que vous avez le droit de dire ou pas ?"</h3>

    <p>Les avis déposés doivent être en rapport direct avec la formation suivie par l’utilisateur. Afin d’être le plus exhaustif
      possible, l‘utilisateur est invité à expliquer les points positifs et négatifs qu’il exprime dans son avis.</p>
    <p>Afin d’éviter la publication d’avis injurieux ou inappropriés, une modération est effectuée avant la publication
      des avis. L’utilisateur dont la publication de l’avis est refusée est invité à le réécrire en respectant les
      présentes conditions d’utilisation.</p>
    <p>L’utilisateur s’engage à ne pas, par la publication de son avis exprimer d’opinions, politiques, religieuses, philosophiques
      ou contraires aux bonnes mœurs. Il s’engage également à ne pas intégrer à son avis de liens hypertextes vers
      des sites internet tiers.</p>
    <p>Par ailleurs, l’utilisateur reconnait être informé qu’est interdite et passible de sanctions pénales la publication
      d’avis et propos ayant pour objet de :
    </p><ul>
    <li>faire l’apologie de crimes contre l’humanité (ou alors de façon discrète); </li>
    <li>inciter à la commission d’acte de terrorisme ou faire leur apologie (les enlèvements de nains de jardin ne sont pas des actes de terrorisme); </li>
    <li>inciter à haine raciale (sauf contre les mecs qui ont trois bras, si vous en connaissez); </li>
    <li>inciter à la haine à l’égard de personnes à raison de leur sexe, de leur orientation ou identité sexuelle, de leur couleur d'yeux ou de leur nombre de bras (bon bah oubliez le point précédent); </li>
    <li>inciter à la haine à l’égard de personnes à raison de leur handicap (voter à l'extrème droite est un handicap. Faites gaffe);</li>
    <li>diffuser de la pornographie, notamment enfantine ; </li>
    <li>inciter à la violence, notamment, aux violences faites aux femmes (je viens de voir que ce truc est sexiste :o); </li>
    <li>porter atteinte à la dignité humaine (non en fait, ça c'est bon); </li>
    <li>proférer des injures (Restez poli, putain de bordel de merde); </li>
    <li>alléguer ou imputer un fait qui porte atteinte à l'honneur ou à la considération d'une personne (diffamation) ;</li>
    <li>porter atteinte à la vie privée d’un tiers (ou d'un quart); </li>
    <li>porter atteinte aux droits de propriété intellectuelle des tiers;</li>
    <li>faire des fautes d'orthographe (ils parlent de remettre la peine capitale pour ça).</li>
  </ul>
    <p>Tout avis contraire aux présentes conditions d’utilisation est supprimé par Knudian, avec un gros marteau. </p>
    <p>Et après, il débarquera chez vous pour vous péter les genoux. </p>

    <p>Après leur publication, les avis peuvent être signalés, en cliquant sur le bouton ‘signaler’, par tout utilisateur
    qui considère que l’avis est contraire à la loi ou aux conditions d’utilisation du site Anotéa.</p>


  </div>
  <div class="cgu-§">
    <h2>5. Responsabilité</h2>
    <h3>"C'est pas nous m'sieur"</h3>

    <p>Non mais nous on est responsables de rien en ce qui concerne vos avis. Venez pas nous emmerder avec ça.</p>

  </div>
  <div class="cgu-§">
    <h2>6. Obligations de l’utilisateur</h2>
    <h3>"Y'en a"</h3>

    <p>Il m'appartient de vous prévenir que le regain d'intérêt pour le paquet fiscal, nécessaire à l'augmentation du pouvoir d'achat pour tous doit décider de l'avenir d'au moins deux générations compte tenu de la lourdeur de l'ordre juste pour une France plus juste. </p>
    <p>Je tiens à vous dire ici ma détermination sans faille pour clamer haut et fort que la République du respect doit renouveler la responsabilisation protectrice et la dynamique d'un réaménagement dans lequel quiconque pourra en définitive reconquérir sa distinction. </p>
    <p>De plus, vous savez pertinemment que la répercussion de l'augmentation récurrente des dépenses doit correspondre aux directives indispensables préalablement établies afin de poursuivre l'effort plus que légitime d'un mouvement cheminant vers plus d'unité. </p>
    <p>Il faut savoir que la nécessité de répondre à votre inquiétude journalière, que vous soyez jeunes ou âgés, entraine une mission somme toute des plus exaltante pour moi : l'élaboration d'un plan correspondant véritablement aux exigences légitimes de chacun. </p>
    <p>Inutile de chercher à vous convaincre, vous qui savez déceler le vrai du faux, si j'affirme avec force que la juste récompense de la promotion sociale contraint la plupart d'entre nous à repenser les fondements d'une intelligence collective où la République tiendra sa promesse égalitaire. </p>
    <p>Aujourd'hui encore plus qu'hier, personne ne me désavouera si je maintien que l'escalade du coût de la vie, notamment en ce qui concerne les énergies fossiles génère la profonde réflexion d'un suivi plus humain des moins fortunés.</p>

  </div>
  <div class="cgu-§">
    <h2>7. Propriété intellectuelle</h2>

    <p>On est titulaire de TOUT ce qu'il y a sur le site. Genre TOUT.</p>

    <p>Sans préjudice des dispositions prévues à l’article L.1225 du code de la propriété intellectuelle, toute représentation,
      reproduction ou diffusion, intégrale ou partielle du site, sur quelque support que ce soit, sans l'autorisation
      expresse et préalable de Pôle emploi constitue un acte de contrefaçon, sanctionné au titre des articles L.335-2
      et L.335-3 du même code.</p>
    <p>(Ca veut dire: faut pas recopier sans demander)</p>

    <p>Par ailleurs, la marque Pôle emploi est protégée au titre des articles L.712-1 et suivants du code de la propriété
      intellectuelle. Toute représentation, reproduction ou diffusion, intégrale ou partielle de la marque Pôle emploi,
      sur quelque support que ce soit, sans l'autorisation expresse et préalable de Pôle emploi constitue un acte de
      contrefaçon, sanctionné au titre des articles L.716-1 du même code.</p>
    <p>(Ca veut dire la même chose)</p>
</div>
